In [1]:
# !wget https://github.com/CS639-Data-Management-for-Data-Science/f24/raw/main/p2/Chinook.zip

In [2]:
# !unzip Chinook.zip

In [1]:
# Import Statements
from sqlalchemy import create_engine, text
import pandas as pd
import os
import gc
import pickle

In [2]:
engine = create_engine("mysql+mysqlconnector://root:abc@127.0.0.1:3306/cs639")
conn = engine.connect()

In [3]:
files = os.listdir()
csv_files = [f for f in files if ".csv" in f]
table_names = [f.replace(".csv", "") for f in csv_files]
table_names = [f.replace(".", "_") for f in table_names]

In [4]:
for idx, csv_file in enumerate(csv_files):
    df = pd.read_csv(csv_file) #, sep="\t", na_values='\\N')
    df.to_sql(table_names[idx], conn, index=False, if_exists="replace")
    print(f"Populated {table_names[idx]}")

Populated Genre
Populated InvoiceLine
Populated Album
Populated Track
Populated Playlist
Populated MediaType
Populated Employee
Populated Customer
Populated PlaylistTrack
Populated Invoice
Populated Artist

In [22]:
t = pd.read_sql("""
    SELECT GenreId, Name, a.Title
    FROM Track t
    JOIN Album a ON t.AlbumId = a.AlbumId
""", conn)
t

,GenreId,Name,Title
0,1,For Those About To Rock (We Salute You),For Those About To Rock We Salute You
1,1,Balls to the Wall,Balls to the Wall
2,1,Fast As a Shark,Restless and Wild
3,1,Restless and Wild,Restless and Wild
4,1,Princess of the Dawn,Restless and Wild
...,...,...,...
3498,24,Pini Di Roma (Pinien Von Rom) I Pini Della Vi...,Respighi:Pines of Rome
3499,24,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",Schubert: The Late String Quartets & String Qu...
3500,24,"L'orfeo, Act 3, Sinfonia (Orchestra)",Monteverdi: L'Orfeo
3501,24,"Quintet for Horn, Violin, 2 Violas, and Cello ...",Mozart: Chamber Music
3502,10,Koyaanisqatsi,Koyaanisqatsi (Soundtrack from the Motion Pict...

Q1: Retrieve all information about the artist "Queen" from the Artist table.

Each question's resultant pandas DataFrame must be stored into a file called q\<N\>.pkl, where N refers to the question number. For example, store q1's results using the below code:

q1_df = pd.read_sql(...)
q1_df.to_pickle("q1.pkl")

Make sure to go back to the cell containing import statements and include import pickle.

For your personal verification, you can display the output of the pandas DataFrame as well.

In [7]:
#q1
q1_df = pd.read_sql(
    """SELECT * 
    FROM Artist 
    WHERE Name='Queen'
""", conn)

# display(q1_df)

q1_df.to_pickle("q1.pkl")

Q2: What are all the albums released by the artist "Queen"?

Your SQL query answering this question should be self-sufficient - that is, you should not be hardcoding the ArtistId that you determined from the previous question. Harcoding will make you lose points during manual TA review.

Requirement: Use subquery to answer this question and other questions in section 1. We'll have an entire section dedicated to joins.

In [8]:
#q2
q2_df = pd.read_sql(
    """SELECT * 
    FROM Album 
    WHERE ArtistId IN (SELECT ArtistId 
        FROM Artist 
        WHERE Name='Queen')
""", conn)

# display(q2_df)

q2_df.to_pickle("q2.pkl")

Q3: What are all the tracks released by the artist "Queen"?

Again, we expect your SQL query to be self-sufficient. Do not hardcode any of the identifiers. If you hardcoded the ArtistID for the previous question, now would be the time for you to go back and fix it. Harcoding will make you lose points during manual TA review.

Requirement: Use subquery to answer this question and other questions in section 1. We'll have an entire section dedicated to joins.

In [9]:
#q3
q3_df = pd.read_sql(
    """SELECT * 
    FROM Track 
    WHERE AlbumId IN (SELECT AlbumId 
        FROM Album 
        WHERE ArtistId IN (SELECT ArtistId
            FROM Artist
            WHERE Name='Queen')
        )
""", conn)

# display(q3_df)

q3_df.to_pickle("q3.pkl")

Q4: How many tracks released by "Queen" were composed or co-composed by "Queen"?

Requirement: Your result should have count column named as TotalQueenTracks

In [10]:
#q4
q4_df = pd.read_sql(
    """SELECT COUNT(*) AS TotalQueenTracks
        FROM Track 
        WHERE TrackId IN (SELECT TrackId 
            FROM Track
            WHERE Composer LIKE '%queen%'
        )
""", conn)

# display(q4_df)

q4_df.to_pickle("q4.pkl")

Q5: Who are all the composers of tracks by the artist "Queen"?
Requirement: Your result should only include unique composer names.

In [11]:
#q5
q5_df = pd.read_sql("""
    SELECT DISTINCT Composer
    FROM Track 
    WHERE AlbumId IN (SELECT AlbumId 
        FROM Album
        WHERE ArtistId IN (SELECT ArtistId
            FROM Artist
            WHERE Name = 'Queen'
        )
    )
""", conn)

# display(q5_df)

q5_df.to_pickle("q5.pkl")

Q6: Which are the top 5 longest tracks by the artist "Queen"?

In [12]:
#q6
q6_df = pd.read_sql(
    """SELECT *
    FROM Track
    WHERE AlbumId IN (SELECT AlbumId 
        FROM Album 
        WHERE ArtistId IN (SELECT ArtistId
            FROM Artist
            WHERE Name = "Queen"
            )
        )
    ORDER BY Milliseconds DESC
    LIMIT 5
""", conn)

# display(q6_df)

q6_df.to_pickle("q6.pkl")

Q7: What are all the tracks by the artist "Queen" that are sized smaller than 6MB?

1000000 bytes = 1 MB

In [13]:
#q7
q7_df = pd.read_sql(
    """SELECT *
    FROM Track
    WHERE AlbumId IN (SELECT AlbumId 
        FROM Album 
        WHERE ArtistId IN (SELECT ArtistId
            FROM Artist
            WHERE Name LIKE '%Queen%' AND Bytes < 6000000
            )
        )
""", conn)

# display(q7_df)

q7_df.to_pickle("q7.pkl")

Wasn't it a pain to read the relevant results from the last two queries? How about we make this data more human readable for the next question?

Q8: Generate human-readable details about all tracks released by "Queen".
Requirement: Other than track names, your result should have two columns named DurationMinutes and FileSize in MB.

In [14]:
#q8
q8_df = pd.read_sql("""
    SELECT
        t.Name,
        (t.Milliseconds / (1000 * 60)) AS DurationMinutes,
        (t.Bytes / 1000000) AS FileSize
    FROM Track t
    JOIN Album a ON t.AlbumId = a.AlbumId
    JOIN Artist ar ON a.ArtistId = ar.ArtistId
    WHERE ar.Name = "Queen"
""", conn)

# display(q8_df)

q8_df.to_pickle("q8.pkl")

Part 2: Customer and employee analysis

Q9: Who are all the customers from USA?
Requirement: Your result should include CustomerId, FirstName, LastName, and State information for the customers. The rows should be ordered using ascending order of the State names.

In [15]:
#q9
q9_df = pd.read_sql("""
    SELECT DISTINCT c.CustomerId, c.FirstName, c.LastName, i.BillingState AS State
    FROM Customer c
    JOIN Invoice i ON c.CustomerID = i.CustomerId
    WHERE i.BillingCountry = "USA"
    ORDER BY BillingState ASC
""", conn)

# display(q9_df)

q9_df.to_pickle("q9.pkl")

Q10: Which invoices correspond to transactions costing greater than $20?

In [16]:
#q10
q10_df = pd.read_sql("""
    SELECT * 
    FROM Invoice
    WHERE Total > 20
""", conn)

# display(q10_df)

q10_df.to_pickle("q10.pkl")

Q11: Which invoices were issued in the year 2021

In [17]:
#q11
q11_df = pd.read_sql("""
    SELECT * 
    FROM Invoice
    WHERE YEAR(InvoiceDate) = "2021"
""", conn)

# display(q11_df)

q11_df.to_pickle("q11.pkl")

Q12: What was the total expenditure of "Eduardo Martins"?
Requirement: It is acceptable to hardcode first and the last name here. But it is not acceptable to hardcode customer id.`

In [18]:
#q12
q12_df = pd.read_sql("""
    SELECT SUM(i.Total) AS TotalSpent
    FROM Customer c
    JOIN Invoice i ON c.CustomerID = i.CustomerID
    WHERE c.FirstName = 'Eduardo' AND c.LastName = 'Martins'
    GROUP BY c.CustomerID, c.FirstName, c.LastName
""", conn)

# display(q12_df)

q12_df.to_pickle("q12.pkl")

Q13: Which customers from the USA do not have any specified company information?

In [19]:
#q13
q13_df = pd.read_sql("""
    SELECT *
    FROM Customer c
    WHERE c.Country = "USA" AND c.Company IS NULL
""", conn)

# display(q13_df)

q13_df.to_pickle("q13.pkl")

Q14: Who are all the Canadian employess?

In [20]:
#q14
q14_df = pd.read_sql("""
    SELECT *
    FROM Employee
    WHERE Country = "Canada"
""", conn)

# display(q14_df)

q14_df.to_pickle("q14.pkl")

Section 2: In-depth analysis of Queen data with JOIN clauses (10 questions)
Now that you have the basic information and understanding of the database, you should begin some real analysis that can uncover interesting information across tables. In SQL, we link tables using the JOIN command.

Q15: Retrieve the names of all customers along with their corresponding invoice totals.

Requirements:

You must use JOIN to solve this question and the other questions in this section.
Your results should be ordered by LastName (A through Z).
UPDATED REQUIREMENT: Your results should also be ordered based on increasing order of the Total column.

In [21]:
#q15
q15_df = pd.read_sql("""
    SELECT c.FirstName, c.LastName, i.Total
    FROM Customer c
    JOIN Invoice i ON c.CustomerID = i.CustomerID
    ORDER BY LastName ASC, i.Total ASC
""", conn)

# display(q15_df)

q15_df.to_pickle("q15.pkl")

Q16: Which customers purchased the tracks by "Queen"?

Requirements:

Your result should include CustomerId, FirstName, and LastName of customers who have purchased tracks by Queen.
Your results should only include unique CustomerID.
Your results should be ordered by CustomerID.
You may use subquery for the Queen's tracks retrieval part given that you wrote that for Q3, but you must use JOIN for answering the rest of the question.

In [22]:
#q16
q16_df = pd.read_sql("""
    SELECT DISTINCT c.CustomerId, c.FirstName, c.LastName
    FROM Customer c
    JOIN Invoice i ON c.CustomerId = i.CustomerId
    JOIN InvoiceLine il ON i.InvoiceId = il.InvoiceId
    JOIN Track t ON il.TrackId = t.TrackId
    WHERE t.AlbumId IN (
        SELECT a.AlbumId 
        FROM Album a
        WHERE a.ArtistId = (
            SELECT ar.ArtistId
            FROM Artist ar
            WHERE ar.Name='Queen')
        )
    ORDER BY c.CustomerID
""", conn)
    
# display(q16_df)

q16_df.to_pickle("q16.pkl")

Q17: Retrieve Invoice Details for the tracks by "Queen".

Requirements:

Your results must include the InvoiceId, InvoiceDate, BillingCountry, and Total columns for invoices that include at least one track by Queen.
Your results should only include unique InvoiceId.
Your results should be ordered by InvoiceId.

In [23]:
#q17
q17_df = pd.read_sql("""
    SELECT DISTINCT i.InvoiceId, i.InvoiceDate, i.BillingCountry, i.Total
    FROM Invoice i
    JOIN InvoiceLine il ON i.InvoiceId = il.InvoiceId
    JOIN Track t ON il.TrackId = t.TrackId
    WHERE t.AlbumId IN (
        SELECT a.AlbumId 
        FROM Album a
        WHERE a.ArtistId = (
            SELECT ar.ArtistId
            FROM Artist ar
            WHERE ar.Name='Queen')
        )
        ORDER BY InvoiceID
""", conn)
    
# display(q17_df)

q17_df.to_pickle("q17.pkl")

Q18: Retrieve tracks details by "Queen" along with the corresponding album titles and media types.

Requirements:

Your results must include TrackId, track's name TrackName, album's title AlbumTitle, and media type's name MediaTypeName for all tracks by Queen.
Your results should be ordered by TrackId.

In [24]:
#q18
q18_df = pd.read_sql("""
    SELECT t.TrackId, t.Name AS TrackName, a.Title AS AlbumTitle, m.Name AS MediaTypeName
    FROM Track t
    JOIN Album a ON t.AlbumId = a.AlbumId
    JOIN MediaType m ON t.MediaTypeId = m.MediaTypeId
    JOIN Artist ar ON a.ArtistId = ar.ArtistId
    WHERE ar.Name = 'Queen'
    ORDER BY t.TrackId
""", conn)
    
# display(q18_df)

q18_df.to_pickle("q18.pkl")

Q19: Find genres of tracks by "Queen".

Requirements:

Your results must include TrackId, track's name TrackName, and genre's name GenreName for all tracks by Queen.
Your results should be ordered by TrackId.

In [52]:
#q19
q19_df = pd.read_sql("""
    SELECT t.TrackId, t.Name AS TrackName, g.Name AS GenreName
    FROM Track t
    JOIN Genre g ON t.GenreId = g.GenreId
    JOIN Album a ON t.AlbumId = a.AlbumId
    JOIN Artist ar ON a.ArtistId = ar.ArtistId
    WHERE ar.Name = 'Queen'
    ORDER BY t.TrackId
""", conn)
    
# display(q19_df)

q19_df.to_pickle("q19.pkl")

20: Retrieve invoice details for customers from the USA who purchased tracks by "Queen".

Requirements:

Your results must include the InvoiceId, InvoiceDate, BillingCity, BillingState, and CustomerId for the invoices of customers from the USA who have purchased tracks by Queen.
Your results should only include unique InvoiceId.
Your results should be ordered by InvoiceId.

In [72]:
#q20
q20_df = pd.read_sql("""
    SELECT DISTINCT i.InvoiceId, i.InvoiceDate, i.BillingCity, i.BillingState, i.CustomerId
    FROM Invoice i
    JOIN Customer c ON i.CustomerId = c.CustomerId
    JOIN InvoiceLine il ON i.InvoiceId = il.InvoiceId
    JOIN Track t ON il.TrackId = t.TrackId
    JOIN Album a ON t.AlbumId = a.AlbumId
    JOIN Artist ar ON a.ArtistId = ar.ArtistId
    WHERE i.BillingCountry = "USA" AND ar.Name = "Queen"
    ORDER BY i.InvoiceId
""", conn)
    
# display(q20_df)

q20_df.to_pickle("q20.pkl")

Q21: Find all playlists that contain tracks by "Queen".

Requirements:

Your results must include the playlist name PlaylistName.
UPDATED REQUIREMENT: Your results should also be ordered based on ascending order of PlaylistName.

In [132]:
#q21
q21_df = pd.read_sql("""
    SELECT DISTINCT pl.Name AS PlaylistName
    FROM Playlist pl
    JOIN PlaylistTrack plt ON pl.PlaylistId = plt.PlaylistId
    JOIN Track t ON plt.TrackId = t.TrackId
    JOIN Album a ON t.AlbumID = a.AlbumId
    JOIN Artist ar ON a.ArtistId = ar.ArtistId
    WHERE ar.Name = "Queen"
    ORDER BY pl.Name
""", conn)
    
# display(q21_df)

q21_df.to_pickle("q21.pkl")

Q22: List all the employees (sales agents) who supported customers that purchased tracks by "Queen."

Requirements:

Your results must include the EmployeeId, FirstName, and LastName, of the employess (salees agents) who supported customers that purchased tracks by Queen.
Your results should only include unique EmployeeId.
Your results should be ordered by EmployeeId.

In [133]:
#q22
q22_df = pd.read_sql("""
    SELECT DISTINCT e.EmployeeId, e.FirstName, e.LastName
    FROM Employee e
    JOIN Customer c ON e.EmployeeId = c.SupportRepId
    JOIN Invoice i ON c.CustomerId = i.CustomerId
    JOIN InvoiceLine il ON i.InvoiceId = il.InvoiceId
    JOIN Track t ON il.TrackId = t.TrackId
    JOIN Album a ON t.AlbumID = a.AlbumId
    JOIN Artist ar ON a.ArtistId = ar.ArtistId
    WHERE ar.Name = "Queen"
    ORDER BY e.EmployeeId
""", conn)
    
# display(q22_df)

q22_df.to_pickle("q22.pkl")

Q23: Retrieve a list of all albums along with the names of their artists, including albums that don't have any artist information.

Requirements:

Your result should include album title AlbumTitle, and artist name ArtistName.
IMPORTANT NOTE: You may NOT use a regular join to answer this question. Instead, you MUST use LEFT JOIN.
UPDATED REQUIREMENT: Your results should be ordered by ascending order of AlbumTitle and ascending order of ArtistName.

In [100]:
#q23
conn.execute(text("""
    ALTER TABLE Album MODIFY Title VARCHAR(255) COLLATE utf8mb4_general_ci;
"""))

conn.execute(text("""
    SET collation_connection = 'utf8mb4_general_ci';
"""))

q23_df = pd.read_sql("""
    SELECT a.Title AS AlbumTitle, ar.Name AS ArtistName
    FROM Album a
    LEFT JOIN Artist ar ON a.ArtistId = ar.ArtistId
    ORDER BY a.Title ASC, ar.Name ASC
""", conn)
    
# display(q23_df)

q23_df.to_pickle("q23.pkl")

Q24: Retrieve a list of all artists and their corresponding albums, including artists who have not released any albums.

Requirements:

Your result should include album title AlbumTitle, and artist name ArtistName.
IMPORTANT NOTE: You may NOT use a regular join to answer this question. Instead, you MUST use RIGHT JOIN.
UPDATED REQUIREMENT: Your results should be ordered by ascending order of AlbumTitle and ascending order of ArtistName.

In [5]:
#q24
q24_df = pd.read_sql("""
    SELECT ar.Name ArtistName, a.Title AS AlbumTitle
    FROM Album a
    RIGHT JOIN Artist ar ON a.ArtistId = ar.ArtistId
    ORDER BY ArtistName ASC, AlbumTitle ASC
""", conn)
    
# display(q24_df)

q24_df.to_pickle("q24.pkl")

Section 3: Grouping and windowing (11 questions)

In this section, you will employ SQL grouping clause and windowing functions to perform more complex data analysis. These queries will help you uncover the trends, summarize data, and obtain insights into the database.

Part 1: Basic grouping

-------------------------------------------------------------------------------------------------------------------------------------------

Q25: How many tracks are there in each genre?

Requirements:

Your results must include the GenreId, and track count TrackCount for each genre.
Your results should be ordered by descending order of track count.
UPDATED REQUIREMENT: Your results should also be ordered by ascending order of GenreId.

In [12]:
#q25
q25_df = pd.read_sql("""
    SELECT g.GenreId, COUNT(t.GenreId) AS TrackCount
    FROM Genre g
    JOIN Track t ON g.GenreId = t.GenreId
    GROUP BY t.GenreId
    ORDER BY TrackCount DESC, g.GenreId ASC
""", conn)

# display(q25_df)

q25_df.to_pickle("q25.pkl")

Q26: What is the total duration (in hours) of tracks for top 5 longest albums?

Requirements:

Your results must include the AlbumId, album title AlbumTitle and total duration in hours TotalDurationHours for each album.
Your results should be ordered by descending order of total duration in hours.

In [102]:
#q26
q26_df = pd.read_sql("""
    SELECT a.AlbumId, a.Title AS AlbumTitle, (SUM(t.Milliseconds) / (60 * 60 * 1000)) AS TotalDurationHours
    FROM Album a
    JOIN Track t ON a.AlbumId = t.AlbumId
    GROUP BY a.AlbumId, a.Title
    ORDER BY TotalDurationHours DESC
    LIMIT 5
""", conn)

# display(q26_df)

q26_df.to_pickle("q26.pkl")

Q27: Retrieve all albums that contain tracks from more than one genre.

Requirements:

Your results must include the album title AlbumTitle, and corresponding unique genre count GenreCount.
UPDATED REQUIREMENT: Your results should be ordered by descending order of genre count GenreCount.
UPDATED REQUIREMENT: Your results should also be ordered by ascending order of AlbumTitle.

In [20]:
#q27
q27_df = pd.read_sql("""
    SELECT a.Title AS AlbumTitle, COUNT(DISTINCT t.GenreId) AS GenreCount
    FROM Album a
    JOIN Track t ON a.AlbumId = t.AlbumId
    JOIN Genre g ON t.GenreId = g.GenreId
    GROUP BY AlbumTitle, a.AlbumId
    HAVING COUNT(DISTINCT t.GenreId) > 1
    ORDER BY GenreCount DESC, AlbumTitle ASC
""", conn)

# display(q27_df)

q27_df.to_pickle("q27.pkl")

Q28: Calculate the total revenue for all artists.

Requirements:

Your results must include the artist name ArtistName, and corresponding total revenue TotalRevenue.
Total revenue calculation: UnitPrice * Quantity
Your results should be ordered by descending order of total revenue.
UPDATED REQUIREMENT: Your results should also be ordered by ascending order of ArtistName.

In [42]:
#q28
q28_df = pd.read_sql("""
    SELECT ar.Name AS ArtistName, SUM(il.UnitPrice * il.Quantity) TotalRevenue
    FROM InvoiceLine il
    JOIN Invoice i ON il.InvoiceId = i.InvoiceId
    JOIN Track t ON il.TrackId = t.TrackId
    JOIN Album a ON t.AlbumId = a.AlbumId
    JOIN Artist ar ON a.ArtistId = ar.ArtistId
    GROUP BY ar.Name
    ORDER BY TotalRevenue DESC, ArtistName ASC
""", conn)

# display(q28_df)

q28_df.to_pickle("q28.pkl")

Q29: Which genres have greater than 20 minute average track duration?

Requirements:

Your results must include the genre name GenreName, and corresponding average duration AverageDurationMinutes for tracks that have average duration that exceeds 20 minutes.
Your results should be ordered by descending order of average duration in minutes.

In [59]:
#q29
q29_df = pd.read_sql("""
    SELECT g.Name AS GenreName, AVG(Milliseconds / (60 * 1000)) AS AverageDurationMinutes
    FROM Album a
    JOIN Track t ON a.AlbumId = t.AlbumId
    JOIN Genre g ON t.GenreId = g.GenreId
    GROUP BY g.Name
    HAVING AverageDurationMinutes > 20
    ORDER BY AverageDurationMinutes DESC
""", conn)

# display(q29_df)

q29_df.to_pickle("q29.pkl")

Q30: What is the total expenditure incurred by customers who purchased tracks by "Queen"?

Requirements:

Your results must include the CustomerId, FirstName, LastName, and corresponding total expenditure TotalExpenditure then put the descending rank of total expenditure as ExpenditureRank.
Total expenditure calculation: UnitPrice * Quantity
Your results should be ordered by descending order of total expenditure.
UPDATED REQUIREMENT: Your results should also be ordered by ascending order of CustomerId.

In [105]:
#q30
q30_df = pd.read_sql("""
    SELECT DISTINCT c.CustomerId, c.FirstName, c.LastName, 
        SUM(il.UnitPrice * il.Quantity) TotalExpenditure, 
        RANK() OVER (ORDER BY SUM(il.UnitPrice * il.Quantity) DESC) AS ExpenditureRank
    FROM InvoiceLine il
    JOIN Invoice i ON il.InvoiceId = i.InvoiceId
    JOIN Customer c ON i.CustomerId = c.CustomerId
    JOIN Track t ON il.TrackId = t.TrackId
    JOIN Album a ON t.AlbumId = a.AlbumId
    JOIN Artist ar ON a.ArtistId = ar.ArtistId
    WHERE ar.Name = "Queen"
    GROUP BY c.CustomerId, c.FirstName, c.LastName
    ORDER BY TotalExpenditure DESC, c.CustomerId ASC
""", conn)

# display(q30_df)

q30_df.to_pickle("q30.pkl")

Part 2: Windowing queries

-------------------------------------------------------------------------------------------------------------------------------------------

Window functions allow you to perform calculations across a set of rows related to the current row, enabling advanced analysis without collapsing data.

Q31: Find each track's duration and rank all tracks by their duration.

Requirements:

Your results must include the TrackId, track name TrackName, duration in minutes DurationMinutes, and corresponding duration rank DurationRank.
Ranking should be based on descending order of duration.
Your results should be ordered by ascending order of ascending order of duration rank. If two tracks have the same rank, then they should be ordered based on descending order of duration in minutes.
UPDATED REQUIREMENT: Your results should also be ordered by ascending order of TrackId

In [32]:
#q31
q31_df = pd.read_sql("""
    SELECT t.TrackId, t.Name AS TrackName, 
        t.Milliseconds / (60 * 1000) AS DurationMinutes, 
        RANK() OVER (ORDER BY t.Milliseconds DESC) AS DurationRank    
    FROM Track t
    GROUP BY t.TrackID, t.Milliseconds, t.Name
    ORDER BY DurationRank ASC, t.TrackId ASC
""", conn)

# display(q31_df)

q31_df.to_pickle("q31.pkl")

Q32: Rank customers who purchased tracks by "Queen" based on their total expenditure.

Hint: You solved majority of this question already in Q30. Reuse that solution to answer this question

Requirements:

Your results must include the CustomerId, FirstName, LastName, corresponding total expenditure TotalExpenditure, and corresponding expenditure rank ExpenditureRank.
Total expenditure calculation: UnitPrice * Quantity
Ranking should be based on descending order of total expenditure.
Your results should be ordered by descending order of total expenditure.
UPDATED REQUIREMENT: Your results should also be ordered by ascending order of CustomerId.

In [34]:
#q32
q32_df = pd.read_sql("""
    SELECT DISTINCT c.CustomerId, c.FirstName, c.LastName, 
        SUM(il.UnitPrice * il.Quantity) TotalExpenditure, 
        RANK() OVER (ORDER BY SUM(il.UnitPrice * il.Quantity) DESC) AS ExpenditureRank
    FROM InvoiceLine il
    JOIN Invoice i ON il.InvoiceId = i.InvoiceId
    JOIN Customer c ON i.CustomerId = c.CustomerId
    JOIN Track t ON il.TrackId = t.TrackId
    JOIN Album a ON t.AlbumId = a.AlbumId
    JOIN Artist ar ON a.ArtistId = ar.ArtistId
    WHERE ar.Name = "Queen"
    GROUP BY c.CustomerId, c.FirstName, c.LastName
    ORDER BY TotalExpenditure DESC, c.CustomerId ASC
""", conn)

# display(q32_df)

q32_df.to_pickle("q32.pkl")

Q33: Calculate the total number of invoices for each customer and assign a sequential rank to each customer based on their total invoices.

Requirements::

Your results must include the CustomerId, FirstName, LastName, corresponding invoices count InvoicesCount, and corresponding invoice rank InvoiceRank.
Ranking:
Ranks assigned to customers must be unique and based on descending order of invoices count. That is customer with highest invoices count should receive rank 1.
If there are ties in invoices count, you must break ties by using ascending order of LastName.

In [83]:
#q33
q33_df = pd.read_sql("""
    SELECT i.CustomerId, c.FirstName, c.LastName,
        COUNT(i.InvoiceId) AS InvoicesCount,
        RANK() OVER (ORDER BY COUNT(i.InvoiceId) DESC, c.LastName ASC) AS InvoiceRank
    FROM Invoice i
    JOIN Customer c ON i.CustomerId = c.CustomerId
    GROUP BY i.CustomerId, c.FirstName, c.LastName
    ORDER BY InvoiceRank
""", conn)

display(q33_df)

q33_df.to_pickle("q33.pkl")

    CustomerId  FirstName      LastName  InvoiceCount  InvoiceRank
0           12    Roberto       Almeida             7            1
1           28      Julia       Barnett             7            2
2           39    Camille       Bernard             7            3
3           18   Michelle        Brooks             7            4
4           29     Robert         Brown             7            5
5           21      Kathy         Chase             7            6
6           26    Richard    Cunningham             7            7
7           41       Marc        Dubois             7            8
8           34       JoÃ£o     Fernandes             7            9
9           30     Edward       Francis             7           10
10          42      Wyatt        Girard             7           11
11           1       LuÃ­s     GonÃ§alves             7           12
12          23       John        Gordon             7           13
13          19        Tim         Goyer             7           14
14          27    Patrick          Gray             7           15
15           7     Astrid        Gruber             7           16
16          56      Diego     GutiÃ©rrez             7           17
17          44      Terhi    HÃ¤mÃ¤lÃ¤inen             7           18
18           4      BjÃ¸rn        Hansen             7           19
19          16      Frank        Harris             7           20
20           6     Helena          HolÃ½             7           21
21          53       Phil        Hughes             7           22
22          51     Joakim     Johansson             7           23
23          52       Emma         Jones             7           24
24           2     Leonie        KÃ¶hler             7           25
25          45   Ladislav        KovÃ¡cs             7           26
26          22    Heather       Leacock             7           27
27          40  Dominique      Lefebvre             7           28
28          47      Lucas       Mancini             7           29
29          10    Eduardo       Martins             7           30
30          43   Isabelle       Mercier             7           31
31          20        Dan        Miller             7           32
32          32      Aaron      Mitchell             7           33
33          50    Enrique         MuÃ±oz             7           34
34          54      Steve        Murray             7           35
35           9       Kara       Nielsen             7           36
36          46       Hugh      O'Reilly             7           37
37          58      Manoj        Pareek             7           38
38           8       Daan       Peeters             7           39
39          15   Jennifer      Peterson             7           40
40          14       Mark       Philips             7           41
41          24      Frank       Ralston             7           42
42          13   Fernanda         Ramos             7           43
43          11  Alexandre         Rocha             7           44
44          57       Luis         Rojas             7           45
45          35   Madalena       Sampaio             7           46
46          36     Hannah     Schneider             7           47
47          38     Niklas      SchrÃ¶der             7           48
48          31     Martha          Silk             7           49
49          17       Jack         Smith             7           50
50          25     Victor       Stevens             7           51
51          33      Ellie      Sullivan             7           52
52          55       Mark        Taylor             7           53
53           3   FranÃ§ois      Tremblay             7           54
54          48   Johannes  Van der Berg             7           55
55           5  FrantiÅ¡ek   WichterlovÃ¡             7           56
56          49  StanisÅ‚aw        WÃ³jcik             7           57
57          37       Fynn    Zimmermann             7           58
58          59       Puja    Srivastava             6           59

Q34: Find the top 3 invoices per country.

Hints:

This is a challenging question.
Break it down into individual steps:
    Determine invoice rank InvoiceRank using descending order of Total. Make sure order the results both using ascending order of BillingCountry and Total.
    Then, write another query which uses the query you wrote in step 1 as sub query to filter invoices with top 3 ranks.

Requirements:

Your results must include the BillingCountry, InvoiceId, Total, and corresponding invoice rank InvoiceRank.
Ranking should be based on descending order of Total.
Your results should be ordered by the ascending order of BillingCountry, descending order of Total, and ascending order of InvoiceId in the exact sequence mentioned above.

In [ ]:
#q34
q34_df = pd.read_sql("""
    SELECT *
    FROM
""", conn)

display(q34_df)

q34_df.to_pickle("q34.pkl")

Q35: Calculate the moving average of monthly sales.

Hints:

This is a challenging question.
Break it down into individual steps:
    Determine how to extract just the month information from InvoiceDate by exploring DATE_FORMAT.
    Then, calculate total sales per month and order the results by month.
    Finally, calculate moving average using PRECEDING and CURRENT.

Requirements:

Your results must include the month Month, corresponding month's total sales MonthlySales, and corresponding month's moving average sales MovingAverageSales.
Your results should be ordered by ascending order of the months.

In [ ]:
#q35
q35_df = pd.read_sql("""
    SELECT *
    FROM
""", conn)

display(q35_df)

q35_df.to_pickle("q35.pkl")