In [1]:
# !wget https://github.com/CS639-Data-Management-for-Data-Science/f24/raw/main/p2/Chinook.zip

--2024-10-01 03:20:28--  https://github.com/CS639-Data-Management-for-Data-Science/f24/raw/main/p2/Chinook.zip
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/CS639-Data-Management-for-Data-Science/f24/main/p2/Chinook.zip [following]
--2024-10-01 03:20:28--  https://raw.githubusercontent.com/CS639-Data-Management-for-Data-Science/f24/main/p2/Chinook.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 146381 (143K) [application/zip]
Saving to: ‘Chinook.zip’

Chinook.zip         100%[===================>] 142.95K  --.-KB/s    in 0.05s

2024-10-01 03:20:28 (2.79 MB/s) - ‘Chinook.zip’ saved [146381/146381]

In [2]:
# !unzip Chinook.zip

Archive:  Chinook.zip
  inflating: Album.csv
  inflating: Artist.csv
  inflating: Customer.csv
  inflating: Employee.csv
  inflating: Genre.csv
  inflating: Invoice.csv
  inflating: InvoiceLine.csv
  inflating: MediaType.csv
  inflating: Playlist.csv
  inflating: PlaylistTrack.csv
  inflating: Track.csv

In [3]:
# Import Statements
from sqlalchemy import create_engine, text
import pandas as pd
import os
import gc
import pickle

In [4]:
engine = create_engine("mysql+mysqlconnector://root:abc@127.0.0.1:3306/cs639")
conn = engine.connect()

In [5]:
files = os.listdir()
csv_files = [f for f in files if ".csv" in f]
table_names = [f.replace(".csv", "") for f in csv_files]
table_names = [f.replace(".", "_") for f in table_names]

In [6]:
for idx, csv_file in enumerate(csv_files):
    df = pd.read_csv(csv_file) #, sep="\t", na_values='\\N')
    df.to_sql(table_names[idx], conn, index=False, if_exists="replace")
    print(f"Populated {table_names[idx]}")

Populated Genre
Populated InvoiceLine
Populated Album
Populated Track
Populated Playlist
Populated MediaType
Populated Employee
Populated Customer
Populated PlaylistTrack
Populated Invoice
Populated Artist

Q1: Retrieve all information about the artist "Queen" from the Artist table.

Each question's resultant pandas DataFrame must be stored into a file called q\<N\>.pkl, where N refers to the question number. For example, store q1's results using the below code:

q1_df = pd.read_sql(...)
q1_df.to_pickle("q1.pkl")

Make sure to go back to the cell containing import statements and include import pickle.

For your personal verification, you can display the output of the pandas DataFrame as well.

In [45]:
#q1

q1_df = pd.read_sql(
    """SELECT * 
    FROM Artist 
    WHERE Name='Queen'
""", conn)

display(q1_df)

# q1_df.to_pickle("q1.pkl")

   ArtistId   Name
0        51  Queen

Q2: What are all the albums released by the artist "Queen"?

Your SQL query answering this question should be self-sufficient - that is, you should not be hardcoding the ArtistId that you determined from the previous question. Harcoding will make you lose points during manual TA review.

Requirement: Use subquery to answer this question and other questions in section 1. We'll have an entire section dedicated to joins.

In [60]:
#q2

q2_df = pd.read_sql(
    """SELECT * 
    FROM Album 
    WHERE ArtistId IN (SELECT ArtistId 
        FROM Artist 
        WHERE Name='Queen')
""", conn)

display(q2_df)

# q2_df.to_pickle("q2.pkl")

   AlbumId              Title  ArtistId
0       36   Greatest Hits II        51
1      185    Greatest Hits I        51
2      186  News Of The World        51

Q3: What are all the tracks released by the artist "Queen"?

Again, we expect your SQL query to be self-sufficient. Do not hardcode any of the identifiers. If you hardcoded the ArtistID for the previous question, now would be the time for you to go back and fix it. Harcoding will make you lose points during manual TA review.

Requirement: Use subquery to answer this question and other questions in section 1. We'll have an entire section dedicated to joins.

In [73]:
#q3

q3_df = pd.read_sql(
    """SELECT * 
    FROM Track 
    WHERE AlbumId IN (SELECT AlbumId 
        FROM Album 
        WHERE ArtistId IN (SELECT ArtistId
            FROM Artist
            WHERE Name='Queen')
        )
""", conn)

display(q3_df)

# q3_df.to_pickle("q3.pkl")

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,419,A Kind Of Magic,36,1,1,Roger Taylor,262608,8689618,0.99
1,420,Under Pressure,36,1,1,Queen & David Bowie,236617,7739042,0.99
2,421,Radio GA GA,36,1,1,Roger Taylor,343745,11358573,0.99
3,422,I Want It All,36,1,1,Queen,241684,7876564,0.99
4,423,I Want To Break Free,36,1,1,John Deacon,259108,8552861,0.99
5,424,Innuendo,36,1,1,Queen,387761,12664591,0.99
6,425,It's A Hard Life,36,1,1,Freddie Mercury,249417,8112242,0.99
7,426,Breakthru,36,1,1,Queen,249234,8150479,0.99
8,427,Who Wants To Live Forever,36,1,1,Brian May,297691,9577577,0.99
9,428,Headlong,36,1,1,Queen,273057,8921404,0.99
10,429,The Miracle,36,1,1,Queen,294974,9671923,0.99
11,430,I'm Going Slightly Mad,36,1,1,Queen,248032,8192339,0.99
12,431,The Invisible Man,36,1,1,Queen,238994,7920353,0.99
13,432,Hammer To Fall,36,1,1,Brian May,220316,7255404,0.99
14,433,Friends Will Be Friends,36,1,1,Freddie Mercury & John Deacon,248920,8114582,0.99
15,434,The Show Must Go On,36,1,1,Queen,263784,8526760,0.99
16,435,One Vision,36,1,1,Queen,242599,7936928,0.99
17,2254,Bohemian Rhapsody,185,1,1,"Mercury, Freddie",358948,11619868,0.99
18,2255,Another One Bites The Dust,185,1,1,"Deacon, John",216946,7172355,0.99
19,2256,Killer Queen,185,1,1,"Mercury, Freddie",182099,5967749,0.99
20,2257,Fat Bottomed Girls,185,1,1,"May, Brian",204695,6630041,0.99
21,2258,Bicycle Race,185,1,1,"Mercury, Freddie",183823,6012409,0.99
22,2259,You're My Best Friend,185,1,1,"Deacon, John",172225,5602173,0.99
23,2260,Don't Stop Me Now,185,1,1,"Mercury, Freddie",211826,6896666,0.99
24,2261,Save Me,185,1,1,"May, Brian",228832,7444624,0.99
25,2262,Crazy Little Thing Called Love,185,1,1,"Mercury, Freddie",164231,5435501,0.99
26,2263,Somebody To Love,185,1,1,"Mercury, Freddie",297351,9650520,0.99
27,2264,Now I'm Here,185,1,1,"May, Brian",255346,8328312,0.99
28,2265,Good Old-Fashioned Lover Boy,185,1,1,"Mercury, Freddie",175960,5747506,0.99
29,2266,Play The Game,185,1,1,"Mercury, Freddie",213368,6915832,0.99
30,2267,Flash,185,1,1,"May, Brian",168489,5464986,0.99
31,2268,Seven Seas Of Rhye,185,1,1,"Mercury, Freddie",170553,5539957,0.99
32,2269,We Will Rock You,185,1,1,"Deacon, John/May, Brian",122880,4026955,0.99
33,2270,We Are The Champions,185,1,1,"Mercury, Freddie",180950,5880231,0.99
34,2271,We Will Rock You,186,1,1,May,122671,4026815,0.99
35,2272,We Are The Champions,186,1,1,Mercury,182883,5939794,0.99
36,2273,Sheer Heart Attack,186,1,1,Taylor,207386,6642685,0.99
37,2274,"All Dead, All Dead",186,1,1,May,190119,6144878,0.99
38,2275,Spread Your Wings,186,1,1,Deacon,275356,8936992,0.99
39,2276,Fight From The Inside,186,1,1,Taylor,184737,6078001,0.99
40,2277,"Get Down, Make Love",186,1,1,Mercury,231235,7509333,0.99
41,2278,Sleep On The Sidewalk,186,1,1,May,187428,6099840,0.99
42,2279,Who Needs You,186,1,1,Deacon,186958,6292969,0.99
43,2280,It's Late,186,1,1,May,386194,12519388,0.99
44,2281,My Melancholy Blues,186,1,1,Mercury,206471,6691838,0.99

Q4: How many tracks released by "Queen" were composed or co-composed by "Queen"?

Requirement: Your result should have count column named as TotalQueenTracks

In [92]:
#q4
q4_df = pd.read_sql(
    """SELECT COUNT(*) AS TotalQueenTracks
        FROM Track 
        WHERE TrackId IN (SELECT TrackId 
            FROM Track
            WHERE Composer LIKE '%queen%'
        )
""", conn)

display(q4_df)

# q4_df.to_pickle("q4.pkl")

   TotalQueenTracks
0                10

Q5: Who are all the composers of tracks by the artist "Queen"?
Requirement: Your result should only include unique composer names.

In [106]:
#q5
q5_df = pd.read_sql(
    """SELECT DISTINCT Composer
    FROM Track 
    WHERE AlbumId IN (SELECT AlbumId 
        FROM Album 
        WHERE ArtistId IN (SELECT ArtistId
            FROM Artist
            WHERE Name='Queen')
        )
""", conn)

display(q5_df)

q5_df.to_pickle("q5.pkl")

                         Composer
0                    Roger Taylor
1             Queen & David Bowie
2                           Queen
3                     John Deacon
4                 Freddie Mercury
5                       Brian May
6   Freddie Mercury & John Deacon
7                Mercury, Freddie
8                    Deacon, John
9                      May, Brian
10        Deacon, John/May, Brian
11                            May
12                        Mercury
13                         Taylor
14                         Deacon

Q6: Which are the top 5 longest tracks by the artist "Queen"?

In [5]:
#q6
q6_df = pd.read_sql(
    """SELECT Name
    FROM Track
    WHERE AlbumId IN (SELECT AlbumId 
        FROM Album 
        WHERE ArtistId IN (SELECT ArtistId
            FROM Artist
            WHERE Composer LIKE '%queen%'
            )
        )
    ORDER BY Milliseconds DESC
    LIMIT 5
""", conn)

display(q6_df)

q6_df.to_pickle("q6.pkl")

                  Name
0             Innuendo
1          The Miracle
2             Headlong
3  The Show Must Go On
4            Breakthru

Q7: What are all the tracks by the artist "Queen" that are sized smaller than 6MB?

1000000 bytes = 1 MB

In [26]:
#q7
q7_df = pd.read_sql(
    """SELECT Name
    FROM Track
    WHERE AlbumId IN (SELECT AlbumId 
        FROM Album 
        WHERE ArtistId IN (SELECT ArtistId
            FROM Artist
            WHERE Name LIKE '%Queen%' AND Bytes < 6000000
            )
        )
""", conn)

display(q7_df)

q7_df.to_pickle("q7.pkl")

                             Name
0                    Killer Queen
1           You're My Best Friend
2  Crazy Little Thing Called Love
3    Good Old-Fashioned Lover Boy
4                           Flash
5              Seven Seas Of Rhye
6                We Will Rock You
7            We Are The Champions
8                We Will Rock You
9            We Are The Champions

Wasn't it a pain to read the relevant results from the last two queries? How about we make this data more human readable for the next question?

Q8: Generate human-readable details about all tracks released by "Queen".
Requirement: Other than track names, your result should have two columns named DurationMinutes and FileSize in MB.

In [34]:
#q8
q8_df = pd.read_sql("""
    SELECT
        t.Name,
        ROUND(t.Milliseconds / (1000 * 60), 2) AS DurationMinutes,
        ROUND(t.Bytes / (1024 * 1024), 2) AS FileSize
    FROM Track t
    JOIN Album a ON t.AlbumId = a.AlbumId
    JOIN Artist ar ON a.ArtistId = ar.ArtistId
    WHERE ar.Name LIKE "%Queen%"
    ORDER BY t.Name;
""", conn)

display(q8_df)

q8_df.to_pickle("q8.pkl")

                              Name  DurationMinutes  FileSize
0                  A Kind Of Magic             4.38      8.29
1               All Dead, All Dead             3.17      5.86
2       Another One Bites The Dust             3.62      6.84
3                     Bicycle Race             3.06      5.73
4                Bohemian Rhapsody             5.98     11.08
5                        Breakthru             4.15      7.77
6   Crazy Little Thing Called Love             2.74      5.18
7                Don't Stop Me Now             3.53      6.58
8               Fat Bottomed Girls             3.41      6.32
9            Fight From The Inside             3.08      5.80
10                           Flash             2.81      5.21
11         Friends Will Be Friends             4.15      7.74
12             Get Down, Make Love             3.85      7.16
13    Good Old-Fashioned Lover Boy             2.93      5.48
14                  Hammer To Fall             3.67      6.92
15                        Headlong             4.55      8.51
16                   I Want It All             4.03      7.51
17            I Want To Break Free             4.32      8.16
18          I'm Going Slightly Mad             4.13      7.81
19                        Innuendo             6.46     12.08
20                It's A Hard Life             4.16      7.74
21                       It's Late             6.44     11.94
22                    Killer Queen             3.03      5.69
23             My Melancholy Blues             3.44      6.38
24                    Now I'm Here             4.26      7.94
25                      One Vision             4.04      7.57
26                   Play The Game             3.56      6.60
27                     Radio GA GA             5.73     10.83
28                         Save Me             3.81      7.10
29              Seven Seas Of Rhye             2.84      5.28
30              Sheer Heart Attack             3.46      6.33
31           Sleep On The Sidewalk             3.12      5.82
32                Somebody To Love             4.96      9.20
33               Spread Your Wings             4.59      8.52
34               The Invisible Man             3.98      7.55
35                     The Miracle             4.92      9.22
36             The Show Must Go On             4.40      8.13
37                  Under Pressure             3.94      7.38
38            We Are The Champions             3.05      5.66
39            We Are The Champions             3.02      5.61
40                We Will Rock You             2.04      3.84
41                We Will Rock You             2.05      3.84
42                   Who Needs You             3.12      6.00
43       Who Wants To Live Forever             4.96      9.13
44           You're My Best Friend             2.87      5.34

Part 2: Customer and employee analysis

Let's now explore the customers to see if there is some trend.
Q9: Who are all the customers from USA?
Requirement: Your result should include CustomerId, FirstName, LastName, and State information for the customers. The rows should be ordered using ascending order of the State names.

In [18]:
#q9
q9_df = pd.read_sql("""
    SELECT * 
    FROM Invoice, Customer
    JOIN Invoice i ON i.CustomerId = Customer.CustomerId
""", conn)

display(q9_df)

q10_df.to_pickle("q10.pkl")

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total,CustomerId,...,SupportRepId,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,2,2021-01-01,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98,58,...,3,412,58,2025-12-22,"12,Community Centre",Delhi,None,India,110017,1.99
1,1,2,2021-01-01,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98,44,...,3,411,44,2025-12-14,Porthaninkatu 9,Helsinki,None,Finland,00530,13.86
2,1,2,2021-01-01,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98,35,...,4,410,35,2025-12-09,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,8.91
3,1,2,2021-01-01,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98,29,...,3,409,29,2025-12-06,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,5.94
4,1,2,2021-01-01,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98,25,...,5,408,25,2025-12-05,319 N. Frances Street,Madison,WI,USA,53703,3.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169739,412,58,2025-12-22,"12,Community Centre",Delhi,None,India,110017,1.99,23,...,4,5,23,2021-01-11,69 Salem Street,Boston,MA,USA,2113,13.86
169740,412,58,2025-12-22,"12,Community Centre",Delhi,None,India,110017,1.99,14,...,5,4,14,2021-01-06,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,8.91
169741,412,58,2025-12-22,"12,Community Centre",Delhi,None,India,110017,1.99,8,...,4,3,8,2021-01-03,Grétrystraat 63,Brussels,None,Belgium,1000,5.94
169742,412,58,2025-12-22,"12,Community Centre",Delhi,None,India,110017,1.99,4,...,4,2,4,2021-01-02,Ullevålsveien 14,Oslo,None,Norway,0171,3.96
169743,412,58,2025-12-22,"12,Community Centre",Delhi,None,India,110017,1.99,2,...,5,1,2,2021-01-01,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98

NameError: name 'q10_df' is not defined

Q10: Which invoices correspond to transactions costing greater than $20?

In [ ]:
#q10
q10_df = pd.read_sql("""

""", conn)

display(q8_df)

q8_df.to_pickle("q8.pkl")

In [20]:
Invoice = pd.read_sql("""
    SELECT * FROM Invoice
""", conn)

Customer = pd.read_sql("""
    SELECT * FROM Customer
""", conn)

# Invoice
Customer

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5
6,7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
7,8,Daan,Peeters,None,Grétrystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4
8,9,Kara,Nielsen,None,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4
10,11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5
11,12,Roberto,Almeida,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
12,13,Fernanda,Ramos,None,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4
13,14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5
14,15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3
15,16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4
16,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5
17,18,Michelle,Brooks,None,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3
18,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3
19,20,Dan,Miller,None,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,None,dmiller@comcast.com,4
20,21,Kathy,Chase,None,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,None,kachase@hotmail.com,5
21,22,Heather,Leacock,None,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,None,hleacock@gmail.com,4
22,23,John,Gordon,None,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,None,johngordon22@yahoo.com,4
23,24,Frank,Ralston,None,162 E Superior Street,Chicago,IL,USA,60611,+1 (312) 332-3232,None,fralston@gmail.com,3
24,25,Victor,Stevens,None,319 N. Frances Street,Madison,WI,USA,53703,+1 (608) 257-0597,None,vstevens@yahoo.com,5
25,26,Richard,Cunningham,None,2211 W Berry Street,Fort Worth,TX,USA,76110,+1 (817) 924-7272,None,ricunningham@hotmail.com,4
26,27,Patrick,Gray,None,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,None,patrick.gray@aol.com,4
27,28,Julia,Barnett,None,302 S 700 E,Salt Lake City,UT,USA,84102,+1 (801) 531-7272,None,jubarnett@gmail.com,5
28,29,Robert,Brown,None,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,+1 (416) 363-8888,None,robbrown@shaw.ca,3
29,30,Edward,Francis,None,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,None,edfrancis@yachoo.ca,3
30,31,Martha,Silk,None,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,+1 (902) 450-0450,None,marthasilk@gmail.com,5
31,32,Aaron,Mitchell,None,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,+1 (204) 452-6452,None,aaronmitchell@yahoo.ca,4
32,33,Ellie,Sullivan,None,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,+1 (867) 920-2233,None,ellie.sullivan@shaw.ca,3
33,34,João,Fernandes,None,Rua da Assunção 53,Lisbon,None,Portugal,None,+351 (213) 466-111,None,jfernandes@yahoo.pt,4
34,35,Madalena,Sampaio,None,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,+351 (225) 022-448,None,masampaio@sapo.pt,4
35,36,Hannah,Schneider,None,Tauentzienstraße 8,Berlin,None,Germany,10789,+49 030 26550280,None,hannah.schneider@yahoo.de,5
36,37,Fynn,Zimmermann,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
37,38,Niklas,Schröder,None,Barbarossastraße 19,Berlin,None,Germany,10779,+49 030 2141444,None,nschroder@surfeu.de,3
38,39,Camille,Bernard,None,"4, Rue Milton",Paris,None,France,75009,+33 01 49 70 65 65,None,camille.bernard@yahoo.fr,4
39,40,Dominique,Lefebvre,None,"8, Rue Hanovre",Paris,None,France,75002,+33 01 47 42 71 71,None,dominiquelefebvre@gmail.com,4
40,41,Marc,Dubois,None,"11, Place Bellecour",Lyon,None,France,69002,+33 04 78 30 30 30,None,marc.dubois@hotmail.com,5
41,42,Wyatt,Girard,None,"9, Place Louis Barthou",Bordeaux,None,France,33000,+33 05 56 96 96 96,None,wyatt.girard@yahoo.fr,3
42,43,Isabelle,Mercier,None,"68, Rue Jouvence",Dijon,None,France,21000,+33 03 80 73 66 99,None,isabelle_mercier@apple.fr,3
43,44,Terhi,Hämäläinen,None,Porthaninkatu 9,Helsinki,None,Finland,00530,+358 09 870 2000,None,terhi.hamalainen@apple.fi,3
44,45,Ladislav,Kovács,None,Erzsébet krt. 58.,Budapest,None,Hungary,H-1073,None,None,ladislav_kovacs@apple.hu,3
45,46,Hugh,O'Reilly,None,3 Chatham Street,Dublin,Dublin,Ireland,None,+353 01 6792424,None,hughoreilly@apple.ie,3
46,47,Lucas,Mancini,None,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,+39 06 39733434,None,lucas.mancini@yahoo.it,5
47,48,Johannes,Van der Berg,None,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,+31 020 6223130,None,johavanderberg@yahoo.nl,5
48,49,Stanisław,Wójcik,None,Ordynacka 10,Warsaw,None,Poland,00-358,+48 22 828 37 39,None,stanisław.wójcik@wp.pl,4
49,50,Enrique,Muñoz,None,C/ San Bernardo 85,Madrid,None,Spain,28015,+34 914 454 454,None,enrique_munoz@yahoo.es,5
50,51,Joakim,Johansson,None,Celsiusg. 9,Stockholm,None,Sweden,11230,+46 08-651 52 52,None,joakim.johansson@yahoo.se,5
51,52,Emma,Jones,None,202 Hoxton Street,London,None,United Kingdom,N1 5LH,+44 020 7707 0707,None,emma_jones@hotmail.com,3
52,53,Phil,Hughes,None,113 Lupus St,London,None,United Kingdom,SW1V 3EN,+44 020 7976 5722,None,phil.hughes@gmail.com,3
53,54,Steve,Murray,None,110 Raeburn Pl,Edinburgh,None,United Kingdom,EH4 1HH,+44 0131 315 3300,None,steve.murray@yahoo.uk,5
54,55,Mark,Taylor,None,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,None,mark.taylor@yahoo.au,4
55,56,Diego,Gutiérrez,None,307 Macacha Güemes,Buenos Aires,None,Argentina,1106,+54 (0)11 4311 4333,None,diego.gutierrez@yahoo.ar,4
56,57,Luis,Rojas,None,"Calle Lira, 198",Santiago,None,Chile,None,+56 (0)2 635 4444,None,luisrojas@yahoo.cl,5
57,58,Manoj,Pareek,None,"12,Community Centre",Delhi,None,India,110017,+91 0124 39883988,None,manoj.pareek@rediff.com,3
58,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,None,puja_srivastava@yahoo.in,3

#